* {
    margin: 0;
    padding: 0;

}

body {
    font-family: DM Sans;
    padding-top: 120px;

}

@media (max-width: 768px) {
    body {
        padding-top: 200px;
    }
}


/* Banner section */
.banner {
    padding: 60px 120px;
    padding-bottom: 0;
}

.banner-heading {
    font-size: 50px;
    font-weight: bold;
}

.banner-video {
    width: 660px;
    height: 400px;
    object-fit: cover;
    display: block;
}

.banner-text {
    font-weight: 600;
}

.video-wrapper {
    border-radius: 20px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    /* keeps it square */
    width: 100%;
    /* takes full column width */
}

.video-wrapper img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    display: block;
}

@media screen and (max-width: 1024px) {
    .video-wrapper {
        aspect-ratio: auto;
    }

    .banner-video {
        width: 100%;
        height: 100%;
    }

    .video-wrapper {
        aspect-ratio: 1 / 1;
    }
}

@media screen and (max-width: 576px) {
    .banner-text {
        font-size: 20px;
        font-weight: 400;
    }

    .banner-video {
        width: 100%;
        height: 100%;
        border-radius: 30px;
        object-fit: cover;
    }
}

.img-box {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* optional hover effect */
.card {
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}


.bg-image {
    background-color: powderblue;
}

.bg-image img {
    height: 300px;
    object-fit: cover !important;
    display: block;
}

.image {
    height: 300px;
    object-fit: cover !important;
    display: block;
}