* {
    margin: 0;
    padding: 0;

}

body {
    font-family: DM Sans;
    padding-top: 120px;

}

@media (max-width: 768px) {
    body {
        padding-top: 200px;
    }
}



.c1 {
    background-color: #EAEEFC !important;

}

@media (max-width: 576px) {

    .camp-header .header-inner {
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start !important;
        gap: 10px;
    }

    .camp-header .book-tickets {
        width: 100% !important;
        padding: 10px;
    }
}