* {
    margin: 0;
    padding: 0;

}

body {
    font-family: DM Sans;
    padding-top: 80px !important;

}



.background {
    background-image: url("culture-images/culture-background");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 250px 80px;
}

.title {
    display: inline-block;
    border-bottom: 3px solid white;
    padding-bottom: 8px;
}

@media (max-width: 768px) {
    .background {
        padding: 150px 30px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .background {
        padding: 180px 20px;
    }
}

.about {
    display: inline-block;
    border-bottom: 3px solid black;
    padding-bottom: 6px;
}

.about-wrapper {
    text-align: center;
}

.teams {
    border: 5px solid #6941C6 !important;
}

/* underline only under text */
.initiative-heading {
    position: relative;
    display: inline-block;
    text-align: center;
    justify-content: center;
}

.initiative-heading::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: black;
    margin-top: 6px;
}

/* reduce image height */
.initiative-img {
    height: 300px;
    object-fit: cover;
}

/* desktop alignment fix */
@media (min-width: 992px) {
    .row.align-items-start {
        align-items: flex-start;
    }
}


.slider-wrapper {
    overflow: hidden;
    position: relative;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 33.3333%;
    padding: 10px;
}

.custom-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
}

/* tablet */
@media (max-width: 992px) {
    .slide {
        flex: 0 0 50%;
    }

    .custom-img {
        height: 200px;
    }
}

/* mobile */
@media (max-width: 576px) {
    .slide {
        flex: 0 0 100%;
    }

    .custom-img {
        height: 180px;
    }
}

.arrow-btn {
    background: #FB8B4B;
    color: black;
    border: none;
    padding: 10px 14px;
    border-radius: 50%;
    cursor: pointer;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}


/* card-sec-above-footer */
.card-custom {
    background-image: url(history-images/history-background.svg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

