* {
    margin: 0;
    padding: 0;

}

body {
    font-family: DM Sans;
    padding-top: 120px;

}

@media (max-width: 768px) {
    body {
        padding-top: 200px;
    }
}


.background {
    background-image: url("innovation-labs/background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 250px 80px;
}

.vision {
    border: 5px solid rgb(105, 65, 198) !important;
}

.a {
    border: 4px solid rgb(239, 116, 87) !important;
}

.b {
    border: 4px solid #FCC762 !important;
}

.c {
    border: 4px solid rgb(241, 147, 124) !important;
}

.d {
    border: 4px solid rgb(111, 73, 201) !important;
}

.community-section {
    min-height: 500px;

    background-image: url("innovation-labs/background-last-sec.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 15px;
}


.center-card {
    max-width: 600px;
    width: 100%;
    border-radius: 25px;
    border: 2px solid #ddd;
}

@media (max-width: 768px) {
    .community-section {
        background-size: cover;
        background-position: center top;
        min-height: 400px;
    }

    .center-card {
        border-radius: 20px;
    }
}

.card-custom {
    background-image: url(history-images/history-background.svg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

