* {
    margin: 0;
    padding: 0;

}

body {
    font-family: DM Sans;
    padding-top: 120px;

}

@media (max-width: 768px) {
    body {
        padding-top: 200px;
    }
}

.dropdown-toggle::after {
    display: none !important;
}

.sub-dropdown {
    border-radius: 3px !important;
    border: 2px solid #dee2e6;
}

.sub-dropdown:hover {
    border-color: powderblue !important;
    box-shadow: 0 0 5px powderblue !important;
}

.card-box {
    display: none;
}

.card-box.active {
    display: block;
}


.custom-pagination .page-link {
    border: none !important;
    background: transparent !important;
    color: #6c757d !important;
    /* muted */
    box-shadow: none !important;
    outline: none !important;
}

/* remove hover */
.custom-pagination .page-link:hover {
    background: transparent !important;
    color: #000 !important;
}

/* remove blue click/focus effect */
.custom-pagination .page-link:focus,
.custom-pagination .page-link:active {
    background: transparent !important;
    box-shadow: none !important;
    outline: none !important;
    color: #000 !important;
}

/* active number */
.custom-pagination .page-link.active {
    color: #000 !important;
    font-weight: 600;
}

/* ===== CONTAINER ===== */
.workshop-card {
    padding: 0 20px;
    gap: 20px !important;
}

/* ===== BADGE ===== */
.date-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

/* ===== CARD ===== */
.workshop {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #d4cbcb;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* IMAGE */
.workshop img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

/* BODY */
.card-body2 {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

/* TEXT */
.card-title {
    font-size: 24px;
    line-height: 1.3;
    font-weight: 700;
}

.card-text {
    font-size: 14px;
}

/* ===== MOBILE ===== */
.workshop {
    flex: 0 0 100%;
}

/* ===== SMALL DEVICES ===== */
@media (min-width: 576px) {
    .workshop {
        flex: 0 0 calc(50% - 20px);
    }
}

/* ===== TABLET (2x2 GRID) ===== */
@media (min-width: 768px) {
    .workshop {
        flex: 0 0 calc(50% - 20px);
    }
}

/* ===== DESKTOP (3 PER ROW) ===== */
@media (min-width: 1024px) {
    .workshop {
        flex: 0 0 calc(33.333% - 20px);
    }

    .workshop-card {
        max-width: 1320px;
        margin: auto;
        padding: 0;
    }
}